

body {
    background-color: grey;
    color: blue;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:white;
    font-size:36px
}

p{
    font-size:15px
}

.hospital-img{
    padding-top: 20px;
}