<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">   

<head>
    <link rel="stylesheet" th:href= "@{/css/style.css}"/>
</head> 
<style>
    * {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;}
    
    /* Style the tab */
    .tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 30%;
      height: 300px;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current "tab button" class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      float: left;
      padding: 0px 12px;
      border: 1px solid #ccc;
      width: 70%;
      border-left: none;
      height: 300px;
    }
    </style>

<body>
    <h1>
        Hospital ERP
    </h1>

    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo">
    </center>
    
    <p>
        Welcome Admin, you can edit and delete appointments below! As well as you can manage inventory below! 
    </p>

    <div class="dropdown">
        <form th:object="${appt}" th:action="@{/getAppointsAdmin}" th:method="post">
            <label>Select Date:</label>
            <input th:field="*{app_datetime}" type="date" name="app_datetime" size="30">
            <select th:field="*{doctor_id}" type="number" name = "Choose one">
              <option th:each="doctor : ${allDoctors}" th:value = "${doctor.getDoctorId()}">Dr. <span th:text="${doctor.getFirstName()}"></span> <span th:text="${doctor.getLastName()}"></span> </option>
           </select>
           <input th:field="*{patient_id}" type="hidden" value="${sessionUser.user_id}" name="patient_id" size="30"> 
          <button type="submit" onclick="myFunction()">Click here to check Avaliability!</button>
        </form>

        <table th:if="${appointments}">
            <tr>
                <th>Appointment ID</th>
                <th>Doctor ID</th>
                <th>Patient ID</th>
            </tr>
            
            <tr th:each="appointment : ${appointments}">
                <td class="align-middle" th:text="${appointment.getAppointmentId()}"></td>
                <td class="align-middle" th:text="${appointment.getDoctorId()}"></td>
                <td class="align-middle" th:text="${appointment.getPatientId()}"></td>
            </tr>
            <tr th:if="${appointments.isEmpty()}">
                <td class="text-center" colspan="3">No Records found. Add some...!</td>
            </tr>
        </table>










        <!-- <label>Calendar: </label>
        <input id="myDate" type="date" name="date" size="30" >
        <button onclick="myFunction()">Click here to edit/delete appointments within the selected date</button>

        <div id="appointment" style="color:black;" >
            <h2 id="dayofweek">
                Please Select a Date!
            </h2>
                <button onclick="success()" id="success" >submit appointment</button>
                <h4 id="successmsg"></h4>
            
        </div>
    
          <div class="tab" id="tab">
        </div>

        <div id="admin-selection" class="tabcontent" style="display: none;">
            <h3>9:30 am - 10 am</h3>
            <p>
              <form th:action="@{/}" th:method="get">
                  <p>
                      Edit this appointment
                      <a href="edit_appointment.html">
                          <button>Edit Appointment</button>
                      </a>
                  </p>
              </form>
          </p>
          </div>
    
          
          <div id="admin-selection2" class="tabcontent" style="display: none;">
            <h3></h3>
            <p></p> 
          </div>
          
          <div id="admin-selection3" class="tabcontent" style="display: none;">
            <h3></h3>
            <p></p>
          </div>

        <script>
            function myFunction() {
            var x = document.getElementById("appointment");
            var dateSelected = document.getElementById("myDate").value;
            document.getElementById("dayofweek").innerHTML = dateSelected;
            x.style.display = "block";
            var NewP;
            var Text;
            var tab; 
            var numberoftimeslots = 4;
            for(var i = 0; i < numberoftimeslots; i++)
            {
                tab = document.createElement("button"); // Create a button element
                tab.id = i; 
                //tab.classList.add('tablinks');
                tab.setAttribute("class", "tablinks");
                tab.setAttribute("onclick", "openAppointement(event, 'admin-selection')");
                //id="defaultOpen"
                //.style.display = "none";
                tab.setAttribute("id", "defaultOpen");
                /*if(i = 0){
                    tab.setAttribute("id", "defaultOpen");
                }*/
                //document.getElementById("MyElement").classList.add('MyClass');
                //NewP = document.createElement("button"); 
                //NewP.id = i; 
                Text = document.createTextNode("Time slot " + i); // Create text to go inside with string value of i
                tab.appendChild(Text); // Add text to p element
                document.body.appendChild(tab); // Append newly-created button element to body element in DOM tree
                document.getElementById("tab").appendChild(tab);
            }
            }

            function openAppointement(evt, admin_selection) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(admin_selection).style.display = "block";
            evt.currentTarget.className += " active";
            }

            function success(){
                var Text;
                var success;
                Text = document.createTextNode("Success");
                document.getElementById("successmsg").appendChild(Text);

            }
            function rPage(){
                //ADD CODE TO UPDATE THE DATABASE TO DELETE THE ENTRY BEFORE WE RELOAD THE PAGE
                window.location.reload();
            }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script> -->
        
    </div>
</body>
</html>