<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">    

<head>
    <link rel="stylesheet" th:href= "@{/css/style.css}"/>
</head> 

    <h1 style="color:White;font-family:verdana;font-size:36px;text-align: center;background-color:#7289da">

        Inventory Page

    </h1>
    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo">
    </center>

    <form th:object="${reg}" th:action="@{/regsubmit}" th:method="post">
        <table border="2" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td> Beds:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> Scalpels:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> Needles:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> IV Bags:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> Crutches:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> Masks:</td>
                <td>10</td>
            </tr>

            <tr>
                <td> Gloves:</td>
                <td>10</td>
            </tr>
        </table>
        <p>
            <form th:action="@{/}" th:method="get">
                <p>
                    Edit Inventory below!
                    <a href="edit_inventory.html">
                        <button>Edit Inventory</button>
                    </a>
                </p>
            </form>
        </p>
    </form>
</body>
</html>