<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
   
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
                <img th:src="@{/img/H.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
                Hospital ERP
        </a>
    </div>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
            
<h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <center style="padding-top:200px;">Something went wrong!</center> 
        
</h1>


<a href="javascript:javascript:history.go(-1)"><font size=4px><center style="padding-top:20px;">Try to go back a page and refresh!!</center></font></a> 
<center><img src="/img/404.png" alt="Logo" width="350" height="350" class="d-inline-block align-text-center" style="padding-top:40px;"></center>


</body>


</html>