<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
   
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
                <img th:src="@{/img/H.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
                Hospital ERP
        </a>
    </div>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
            
<h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <center>Something went wrong!</center> 
</h1>

<h2></h2>
<!--<a href="/">Go Home</a>  -->
</body>


</html>