<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">    
    <style>

        body {
            background-color: #2c2f33;
            color: white;

        }
    </style>
    <h1 style="color:White;font-family:verdana;font-size:36px;text-align: center;background-color:#7289da">
        Place Holder GUI
    </h1>
    
    <h2 style="color:White;font-family:verdana;font-size:36px;text-align: center;">
        Logged In As: <span th:text="${message}">message</span>
    </h2>
</body>
</html>