<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">   

<head>
    <link rel="stylesheet" th:href= "@{/css/style.css}"/>
</head> 

<body>
    <h1>
        Hospital ERP
    </h1>

    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo">
    </center>

    <p>
        Login Below!
    </p>

    <form th:object="${login}" th:action="@{/submit}" th:method="post">
        <table border="2" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td> Enter email :</td>
                <td> <input th:field="*{email}" type="text" name="email" size="30"> </td>
            </tr>
            <tr>
                <td> Enter password :</td>
                <td> <input th:field="*{password}" type="password" name="password" size="30"> </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <a href="profile.html">
                        <button type="submit">Login</button>
                    </a>
                </td>
            </tr>
        </table>
    </form>

    <p>
        Don't have an account with us? 
        <a href="registration.html">
            <button>Click here to register!</button>
        </a>
    </p>

</body>
</html>