<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">    
    <style>

        body {
            background-color: #2c2f33;
            color: white;

        }
    </style>
    <h1 style="color:White;font-family:verdana;font-size:36px;text-align: center;background-color:#7289da">

        Place Holder GUI

    </h1>
    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo" >
    </center>
    <p style="color:White;font-family:verdana;text-align: center;">
        Login Below!
    </p>
    <form th:object="${login}" th:action="@{/submit}" th:method="post">
        <table border="2" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td style="color:White;font-family:verdana;"> Enter email :</td>
                <td> <input th:field="*{email}" type="text" name="email" size="30"> </td>
            </tr>
            <tr>
                <td style="color:White;font-family:verdana;"> Enter password :</td>
                <td> <input th:field="*{password}" type="password" name="password" size="30"> </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
    <h2 style="color:White;font-family:verdana;font-size:36px;text-align: center;">
        <span th:if="${errorMessage}" th:text="${errorMessage}">errorMessage</span>
    </h2>
</body>
</html>