<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Admin Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <!-- Brand -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img th:src="@{/img/H.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
        Hospital ERP
      </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>
    Booking Page
  </h1>
  <div class="container text-center">
    <h2>
      Welcome <span th:text="${sessionUser.firstname}">firstname</span>!
    </h2>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h2 class="text-center"> See Available Appointments </h2>
        <div class="card-body">
          <form th:object="${appt}" th:action="@{/Availabilty}" th:method="post">
            <div class="form-group">
              <label>Select Date:</label>
              <input th:field="*{app_datetime}" type="date" name="app_datetime" size="30">
            </div>
            <div class="form-group">
              <label>Select Doctor:</label>
              <select th:field="*{doctor_id}" type="number" name="Choose one">
                <option th:each="doctor : ${allDoctors}" th:value="${doctor.getDoctorId()}">Dr. <span
                    th:text="${doctor.getFirstName()}"></span> <span th:text="${doctor.getLastName()}"></span> </option>
              </select>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <form th:action="@{/profile}" th:method="get">
      <p>
        Want to see booked appointments?
        <button type="submit" class="btn btn-secondary">Profile</button>
      </p>
    </form>
    <br>
    <br>
    <form th:if="${appointments}" th:object="${appt}" th:action="@{/bookAppoint}" th:method="post">

      <select th:field="*{app_datetime}" type="text" name="Choose one" class="form-select form-select-lg mb-8"
        aria-label=".form-select-lg example">
        <option th:each="appointment : ${appointments}"
          th:value="${#calendars.format(appointment.getAppointmentStart(), 'dd/MMM/yyyy HH:mm')}">
          Date: <span th:text="${#calendars.format(appointment.getAppointmentStart())}"></span> Duration: <span
            th:text="${appointment.getAppointmentDuration()}"> </span>
        </option>
      </select>
      <button type="submit" class="btn btn-primary">
        Book
      </button>
      <!-- <table class="table table-striped table-bordered" th:if="${appointments}">
        <thead class="table-dark">
          <tr>
            <th> Appointment ID </th>
            <th> Doctor ID </th>
            <th> Patient ID </th>
            <th> Duration </th>
            <th> Date </th>
            <th> Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.getAppointmentId()}"></td>
            <td th:text="${appointment.getDoctorId()}"></td>
            <td th:text="${appointment.getPatientId()}"></td>
            <td th:text="${appointment.getAppointmentDuration()}"></td>
            <td th:text="${#calendars.format(appointment.getAppointmentStart())}"></td>
            <td>
              <a th:href="@{/deleteAppointsAdmin/{id}(id=${appointment.getAppointmentId()})}"
                class="btn btn-primary">Book</a>
            </td>
          </tr>
          <tr th:if="${appointments.isEmpty()}">
            <td class="text-center" colspan="4">No Appointments Available</td>
          </tr>
        </tbody>
      </table> -->
    </form>

    <h2>
      <span th:if="${message}" th:text="${message}">message</span>
    </h2>
  </div>








  <!--         <div id="appointment" style="color:black;" >
            <h2 id="dayofweek">
                Please Select a Date!
            </h2>
                <button onclick="success()" id="success" >submit appointment</button>
                <h4 id="successmsg"></h4>
            
        </div>
    
          <div class="tab" id="tab">
        </div>

        <div id="user-selection" class="tabcontent" style="display: none;">
            <h3>9:30 am - 10 am</h3>
            <p>avaliable</p>
          </div>
          
          <div id="user-selection2" class="tabcontent" style="display: none;">
            <h3></h3>
            <p></p> 
          </div>
          
          <div id="user-selection3" class="tabcontent" style="display: none;">
            <h3></h3>
            <p></p>
          </div>

        <script>
            function myFunction() {
            var x = document.getElementById("appointment");
            var dateSelected = document.getElementById("myDate").value;
            document.getElementById("dayofweek").innerHTML = dateSelected;
            x.style.display = "block";
            var NewP;
            var Text;
            var tab; 
            var numberoftimeslots = 4;
            for(var i = 0; i < 16; i++)
            {
                tab = document.createElement("button"); // Create a button element
                tab.id = i; 
                //tab.classList.add('tablinks');
                tab.setAttribute("class", "tablinks");
                tab.setAttribute("onclick", "openAppointement(event, 'user-selection')");
                //id="defaultOpen"
                //.style.display = "none";
                tab.setAttribute("id", "defaultOpen");
                /*if(i = 0){
                    tab.setAttribute("id", "defaultOpen");
                }*/
                //document.getElementById("MyElement").classList.add('MyClass');
                //NewP = document.createElement("button"); 
                //NewP.id = i; 
                Text = document.createTextNode("Time slot " + i); // Create text to go inside with string value of i
                tab.appendChild(Text); // Add text to p element
                document.body.appendChild(tab); // Append newly-created button element to body element in DOM tree
                document.getElementById("tab").appendChild(tab);
            }
            }

            function openAppointement(evt, user_selection) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(user_selection).style.display = "block";
            evt.currentTarget.className += " active";
            }

            function success(){
                var Text;
                var success;
                Text = document.createTextNode("Success");
                document.getElementById("successmsg").appendChild(Text);

            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>  -->




</body>

</html>