<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">  

<head>
    <link rel="stylesheet" th:href= "@{/css/style.css}"/>
</head>   
<body>
    <h1>
        Welcome Back, Dhruv!
    </h1>
    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo">
    </center>

    <form th:object="${register}" th:action="@{/submit}" th:method="post">
        <table border="2" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td> Account Type:</td>
                <td> Patient </td>
            </tr>
            <tr>
                <td> First Name:</td>
                <td> Dhruv </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td> Sharma </td>
            </tr>
            <tr>
                <td> Healthcard Number:</td>
                <td> 123456789 </td>
            </tr>
            <tr>
                <td> Email Address:</td>
                <td> dhruv1.sharma@instagram.com </td>
            </tr>
        </table>
    </form>
    <a href="main.html">
        <button>Make an appointment here!</button>
    </a>
</body>
</html>