<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

        <!-- Brand -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/img/H.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
                Hospital ERP
            </a>
        </div>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Thymeleaf switch statment based on regRole
Displays div for patient registration if regRole = 3
Displays div for doctor registraion of regRole = 2 -->

    <div class="container text-center" th:switch="${regRole}">
        <div th:case="'3'">
            <h1>

                Patient Registration Page

            </h1>
            <p>
                Register Below!
            </p>
            <form th:object="${patientReg}" th:action="@{/patientReg}" th:method="post">
                <table class="table table-striped" align="center">
                    <tr>
                        <td> Enter your First Name:</td>
                        <td> <input th:field="*{firstname}" type="firstname" name="firstname" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Last Name:</td>
                        <td> <input th:field="*{lastname}" type="lastname" name="lastname" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Address:</td>
                        <td> <input th:field="*{address}" type="address" name="address" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Telephone Number:</td>
                        <td> <input th:field="*{telephone}" type="tel" name="telephone" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter email :</td>
                        <td> <input th:field="*{email}" type="email" name="email" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter password :</td>
                        <td> <input th:field="*{password}" type="password" name="password" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Healthcard :</td>
                        <td> <input th:field="*{health_card}" type="text" name="health_card" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Birth Date :</td>
                        <td> <input th:field="*{birthdate}" type="date" name="birthdate" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Gender :</td>
                        <td> <input th:field="*{gender}" type="text" name="gender" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Height(cm) :</td>
                        <td> <input th:field="*{height_cm}" type="number" name="height_cm" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Weight(kg) :</td>
                        <td> <input th:field="*{weight_kg}" type="number" name="weight_kg" size="30" required> </td>
                    </tr>
                </table><!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Logout</a>
                        </li>
                    </ul>
                </div>
                <br>
                <p>
                    <a href="login.html">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </a>
                </p>
            </form>
            <br>
            <br>
            <form th:action="@{/doctorRegistration}" th:method="get">
                <p>
                    <a href="registration.html">
                        <button type="submit">Register as a Doctor Instead? </button>
                    </a>
                </p>
            </form>
        </div>

        <div th:case="'2'">
            <h1>

                Doctor Registration Page

            </h1>
            <p>
                Register Below!
            </p>
            <form th:object="${doctorReg}" th:action="@{/doctorReg}" th:method="post">
                <table class="table table-striped" align="center">
                    <tr>
                        <td> Enter your First Name:</td>
                        <td> <input th:field="*{firstname}" type="firstname" name="firstname" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Last Name:</td>
                        <td> <input th:field="*{lastname}" type="lastname" name="lastname" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Address:</td>
                        <td> <input th:field="*{address}" type="address" name="address" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter your Telephone Number:</td>
                        <td> <input th:field="*{telephone}" type="tel" name="telephone" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter email :</td>
                        <td> <input th:field="*{email}" type="email" name="email" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter password :</td>
                        <td> <input th:field="*{password}" type="password" name="password" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Department :</td>
                        <td> <input th:field="*{department}" type="text" name="department" size="30" required> </td>
                    </tr>
                    <tr>
                        <td> Enter Position :</td>
                        <td> <input th:field="*{position}" type="text" name="position" size="30" required> </td>
                    </tr>
                </table>
                <br>
                <p>
                    <a href="login.html">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </a>
                </p>
            </form>
            <br>
            <br>
            <form th:action="@{/registration}" th:method="get">
                <p>
                    <a href="registration.html">
                        <button type="submit">Register as a Patient Instead? </button>
                    </a>
                </p>
            </form>
        </div>
    </div>
</body>

</html>