<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">    

<head>
    <link rel="stylesheet" th:href= "@{/css/style.css}"/>
</head> 

    <h1 style="color:White;font-family:verdana;font-size:36px;text-align: center;background-color:#7289da">

        Registration Page

    </h1>
    <center>
        <img th:src="@{/img/H.png}" style= "width:150px;height:150px;" alt= "Hospital Logo">
    </center>

    <p>
        Register Below!
    </p>
    <form th:object="${reg}" th:action="@{/regsubmit}" th:method="post">
        <table border="2" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td> Are you registering with us as a patient or a doctor?</td>
                <td> <select th:field="*{role}" type="role" name = "Choose one">
                    <option value = "2" selected>Doctor</option>
                    <option value = "3">Patient</option>
                 </select> 
                </td>
            </tr>
            <tr>
                <td> Enter your First Name:</td>
                <td> <input th:field="*{firstname}" type="firstname" name="firstname" size="30"> </td>
            </tr>
            <tr>
                <td> Enter your Last Name:</td>
                <td> <input th:field="*{lastname}" type="lastname" name="lastname" size="30"> </td>
            </tr>
            <tr>
                <td> Healthcard Number:</td>
                <td> <input th:field="*{healthcardnumber}" type="healthcardnumber" name="healthcardnumber" size="30"> </td>
            </tr>
            <tr>
                <td> Enter email :</td>
                <td> <input th:field="*{email}" type="text" name="email" size="30"> </td>
            </tr>
            <tr>
                <td> Enter password :</td>
                <td> <input th:field="*{password}" type="password" name="password" size="30"> </td>
            </tr>
        </table>
        <p>
            <a href="login.html">
                <button type="submit">Register</button>
            </a>
        </p>
    </form>
</body>
</html>